.page-box {
  width: 50%;
  margin: 8% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #313D35;
  border-radius: 20px;
}

.error-text {
  font-size: 50px;
  color: whitesmoke;
}

.home-button {
  background-color: #407A52;
  color: whitesmoke;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
